extends ../layout

block content
  .container
    a(href='/bicicleta') Volver

    .m-3
    h1 Nueva Bicicleta

    .my-3

    form(action='/bicicleta/create' method='post')
      .form-group
      label(for='id') ID:
      input#id.form-control(type='text' name='id')
      .form-group
      label(for='color') Color:
      input#color.form-control(type='text' name='color')
      .form-group
      label(for='modelo') Modelo:
      input#modelo.form-control(type='text' name='modelo')
      .form-group
      label(for='lat') Latitud:
      input#lat.form-control(type='text' name='lat')
      .form-group
      label(for='long') Longitud:
      input#long.form-control(type='text' name='long')
      input.btn.btn-primary.m-2(type='submit' value='enviar')
