extends ../layout

block content
  .container-fluid
    a.btn.mb-3(href='/bicicleta/create') Nueva Bicicleta
      table.table.table-striped
        thead
          tr
            th(scope='col') #
            th(scope='col') Color
            th(scope='col') Modelo
            th(scope='col') Ubicacion
            th(scope='col')
            th(scope='col')
        tbody
        each bici in bicis
          tr
              th(scope='row') 
                = bici.id
              td= bici.color
              td= bici.modelo
              td= bici.ubicacion
              td
                a.btn.btn-info(href=`bicicleta\/${bici.id}\/update`) Editar
              td
                form.inline(method='POST' action='bicicleta/' + bici.id + '/delete')
                    input(type="hidden" name='id' value= bici.id)
                    button.link-button(type='submir' name='submit_param' value='submit_value' class='btn')
                        ='Eliminar'