extends ../layout

block content
   a.btn.btn-ligth(href='/bicicleta') Volver

   br
   br
   br

   h1 Actualizar Bicicleta

   br
   br
   .mt-5.mb-5 
   form(action=`/bicicleta/${bici.id}/update` method='post')
     .form-group
     label(for='id') ID:
     input#id.form-control(type='text' name='id' value= bici.id)
     .form-group
     label(for='color') Color:
     input#color.form-control(type='text' name='color' value= bici.color)
     .form-group
     label(for='modelo') Modelo:
     input#modelo.form-control(type='text' name='modelo' value= bici.modelo)
     .form-group
     label(for='lat') Latitud:
     input#lat.form-control(type='text' name='lat' value= bici.ubicacion[0])
     .form-group
     label(for='long') Longitud:
     input#long.form-control(type='text' name='long' value= bici.ubicacion[1])
     input.btn.btn-dark.bg-dark.mt-3(type='submit' value='enviar')
